[Unit]
Description=IamConvert Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/iamconvert
ExecStart=/root/iamconvert/venv/bin/python3.14 main.py
Restart=always
RestartSec=5
EnvironmentFile=/root/iamconvert/.env

[Install]
WantedBy=multi-user.target
